/*
    Name: Gabe Barros
    File description: home.css is a CSS file that provides styling for help.html,
    a file that provides the HTML content for the help page of the ShareMedia website. 
    Stylistic changes are made such as adding background color to the page, adding padding 
    and margin to elements, and adding custom font.
*/
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D7DBDD;
}

body.dark-mode {
    background-color: #333;
}

body.light-mode{
    background-color: lightgray;
}

#header{
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #8E44AD;
    z-index: 999;
    text-overflow: ellipsis;
}

h1{
    margin: 10px;
    font-family: 'Rubik', sans-serif;
}

#help{
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 20px;
    background-color: lightgray;
    transition-duration: 0.4s;
    border: 1px;
    border-radius: 5px;
}

#help:hover {
    background-color: grey;
    color: white;
  }

#sidebar{
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 60px;
    width: 20%;
    height: 100%;
    bottom: 0;
    background-color:white;
    z-index: 888;
    text-align: center;
}

#sidebar.dark-mode{
    background-color: gray;
}

#sidebar.light-mode{
    background-color: white;
}

#username{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    word-wrap: break-word;
}

#pfp{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#sidebarButtons{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#profileLink{
    display: block;
    margin: 10px;
    color: black;
}

#DMLink{
    display: block;
    margin: 10px;
    color: black;
}

#createPost{
    display: block;
    color: black;
}

#search{
    display: block;
    margin: 10px;
    color: black;
}

#mediaPosts{
    position: absolute;
    bottom: 0;
    left: 20%;
    margin-left: 15px;
    top: 60px;
    width: 50%;
    height: 100% - 60px;
    overflow-y: auto;
}

.mediaPost{
    
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
}

.mediaPost.dark-mode{
    background-color: gray;
}

.mediaPost.light-mode{
    background-color: white;
}

#textPosts{
    position: absolute;
    bottom: 0;
    left: 70%;
    margin-left: 30px;
    right: 15px;
    top: 60px;
    width: calc(30% - 45px);
    height: calc(100% - 60px);
    overflow-y: auto;
}

.textPost{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
}

.textPost.dark-mode{
    background-color: gray;
}

.textPost.light-mode{
    background-color: white;
}

.postPFP{
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

h3{
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}

.noPost{
    text-align: center;
}

.postMedia{
    margin: auto;
    width: 100%;
    height: auto;
}

#logOut{
    position: absolute;
    left: 20px;
    top: 10px;
    padding: 10px;
    background-color: lightgray;
    transition-duration: 0.4s;
    border: 1px;
    border-radius: 5px;
}

#logOut:hover {
    background-color: grey;
    color: white;
  }
